.container {
    width: 450px;
    margin-left: -450px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    transition: transform 0.7s;

}

.container a {
    text-decoration: none;
}
.box {
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 5px;
    padding-top: 2px;
}
.focus {
    transform: translate(450px);
    transition: 0.7s;
}
